
.section1	{font-family: 'Roboto',sans-serif;
}
.section1::before{
	content:'RESTAURANT';
	color: #5863F8;
	font-size: 14px;
	font-weight: 700;
}
.box-text-fade-2{
	font-size: 14px;
	color: #B1B1B1;
	font-weight: 500;
}
@keyframes one{
	0%{transform: rotate(0deg) translate(0%,0%);}
	/*10%{transform: rotate(90deg) translate(0%,-0%);}*/
	20%{transform: rotate(1080deg) translate(0%,0%);}
	50%{transform: rotate(1080deg) translate(0%,0%);}
	70%{transform: rotate(0deg) translate(0%,0%);}
}
.background{
	/*width: 100%;
	height: 100%;*/
	position: relative;
}
.background1{
	width: 100%;
}
.wood-back-div{
	/*width: 46.7%;*/
	/*margin: 0 auto;*/
	position: absolute;
	left: 50%;
	top: 0px;
	transform: translate(-50%, 0%) scale(1) scaleY(1)  ;
	height: 100%;
}
.wood-back{
	height: 100%;
	/*left: 50%;
	top: 0px;*/
	/*transform: translate(-50%, 0%) scale(1.5) scaleY(1.52)  ;*/
	/*width: 163.7%;*/
	
}
.corner-r{
/*	position: absolute;
	bottom: 54.7%;
	right: 0px;
	transform: translate(-50%,0%) scale(1);
	top: 50%;*/
	/*width: 50%;*/
	/*transform: translate(-100%,0%) scale(0.5);
	position: absolute;*/
	z-index: 100;
}
.corner-r-div{
	position: absolute;
	right: 0px;
	/*transform: translate(-100%,0%) scale(1.3);*/
	top: 0px;
/*	width: 50%;*/
	/*transform: scale(0.5);*/
	z-index: 100;
}
/*.corner-r-div:hover{
	transform: scale(1.5);
}*/
.clock-div{
	position: absolute;
	top: 0px;
	left: 17px;
	/*width: 200px;*/
}
.clock{
	width: 224px;
}
.clock-arrow-div{
	position: absolute;
	top: 104px;
	left: 35px;
	/*transform: translate(-50%, -50%);*/
	animation: clock-arrow 60s linear infinite;
}
.clock-arrow{
	width: 152px;
}
/*keyframes*/
@keyframes clock-arrow{
	/*0%{transform: rotate(0deg) translate(0%,-50%); top: 50%; left: 50%;}*/
	/*50%{transform: rotate(180deg) }*/
	100%{transform: rotate(360deg)/*  translate(0%,-50%) ;top: 50%;left: 50%;*/}
}
.w1{
	position: absolute;
	left: 30px;
	top: 30px;
	animation: rightl 3s linear infinite;
	transform:rotate(0deg) scale(0.3);
	z-index: 10;
}
.w2{
	position: absolute;
	left: 111px;
	top: 103px;
	animation: leftl 3s linear infinite;
	transform:rotate(0deg) scale(0.3);
	z-index: 10;
}
.w3{
	position: absolute;
	left: 262px;
	top: 30px;
	animation: rightl 3s linear infinite;
	transform:rotate(0deg) scale(0.3);
	z-index: 10;
}
.w31{
	position: absolute;
	left: 539px;
	top: 97px;
	animation: rightl 3s linear infinite;
	transform:rotate(0deg) scale(0.3);
	z-index: 10;
}
.w4{
	position: absolute;
	left: 88px;
	top: 30px;
	/*animation: leftl 3s linear infinite;*/
	transform:rotate(0deg) scale(0.9);
	z-index: 9;
}
.w5{
	position: absolute;
	left: 288px;
	top: 116px;
	/*animation: leftl 3s linear infinite;*/
	transform:rotate(0deg) scale(0.6);
	z-index: 9;
}
.w6{
	position: absolute;
	left:330px;
	top: 243px;
	animation: leftl-six 6s linear infinite;
	transform:rotate(0deg) scale(0.6);
	z-index: 10;
}
.w7{
	position: absolute;
	left: 489px;
	top: 30px;
	animation: leftl-one 15s linear infinite;
	transform:rotate(0deg) scale(1);
	z-index: 5;
}
.w75{
	position: absolute;
	left: 489px;
	top: 30px;
	animation: leftl-big 4s step-start infinite;
	transform:rotate(0deg) scale(1.8);
	z-index: 6;
}
.w8{
	position: absolute;
	left: 75px;
	top: 282px;
	animation: ri-one 15s linear infinite;
	transform:rotate(0deg) scale(1);
	z-index: 5;
}
/*keyframes*/
@keyframes rightl{
	100%{transform: rotate(360deg) scale(0.3)}
}
@keyframes leftl{
	100%{transform: rotate(-360deg) scale(0.3)}
}
@keyframes leftl-six{
	100%{transform: rotate(-360deg) scale(0.6)}
}
@keyframes leftl-one{
	100%{transform: rotate(-360deg) scale(1)}
}
@keyframes ri-one{
	100%{transform: rotate(360deg) scale(1)}
}
@keyframes leftl-big{
	0%{transform: rotate(-36deg) scale(1.8)}
	5%{transform: rotate(-54deg) scale(1.8)}
	10%{transform: rotate(-72deg) scale(1.8)}
	15%{transform: rotate(-90deg) scale(1.8)}
	20%{transform: rotate(-108deg) scale(1.8)}
	25%{transform: rotate(-126deg) scale(1.8)}
	30%{transform: rotate(-144deg) scale(1.8)}
	35%{transform: rotate(-162deg) scale(1.8)}
	40%{transform: rotate(-180deg) scale(1.8)}
	45%{transform: rotate(-198deg) scale(1.8)}
	50%{transform: rotate(-216deg) scale(1.8)}
	55%{transform: rotate(-234deg) scale(1.8)}
	60%{transform: rotate(-252deg) scale(1.8)}
	65%{transform: rotate(-270deg) scale(1.8)}
	70%{transform: rotate(-288deg) scale(1.8)}
	75%{transform: rotate(-206deg) scale(1.8)}
	80%{transform: rotate(-324deg) scale(1.8)}
	85%{transform: rotate(-342deg) scale(1.8)}
	90%{transform: rotate(-360deg) scale(1.8)}
	95%{transform: rotate(-18deg) scale(1.8)}
	100%{transform: rotate(-36deg) scale(1.8)}
}